@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url('https://www.isaacjiang.ca/assets/images/bg.png');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.health-survey-container {
  text-align: center;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-container {
  width: 100%;
  max-width: 600px;
  padding: 20px;
  border: 1px solid #757575;
  border-radius: 20px;
  box-sizing: border-box;
  background-color: rgba(34, 34, 34, 0.7);
  backdrop-filter: blur(5px);
  margin: 20px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.form-container label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  text-align: left;
  padding: 5px 0;
  font-weight: 500;
}

.form-container input[type="text"],
.form-container input[type="number"],
.form-container select,
.form-container textarea {
  outline-color: #0056b3;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #dadada;
  border-radius: 10px;
  box-sizing: border-box;
  transition: border-color 0.3s, transform 0.3s;
  background-color: rgba(0, 0, 0, 0.1);
  color: white;
  backdrop-filter: blur(3px);
}

.form-container textarea:hover,
.form-container select:hover,
.form-container input:hover {
  border-color: #66afe9;
  transform: scale(1.01);
}

.health-survey-header {
  font-weight: 600;
  font-size: 2rem;
  color: white;
  text-transform: capitalize;
  margin-top: 40px;
}

.submit-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 1rem;
}

.submit-button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .form-container {
    padding: 15px;
  }
}

.form-container select option {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 8px;
  font-weight: 400;
  color: #333;
}
